<div class="row row-cols-1 row-cols-md-2">
    <div class="col lg-6">
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="col lg-6">
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">
            </div>
        </div>
    </div>
</div>
<script>
    var socket = io();
    socket.emit('get_train_status', `{ "train_no" : "<%= req.params.train_no %>", "start_date" : "<%=req.query.startDate%>" }`);
    socket.on("<%= req.params.train_no %>", function(trainDetails){
        console.log(trainDetails);
    });
</script>