<style>
    #train_no {
        padding: 3px 10px;
        background-color: #2475B0;
        color: #ffffff;
        border-radius: 3px;
    }

    #source,
    #destination {
        font-size: 1.8em;
    }

    #arrow {
        width: 100%;
        height: auto;
    }

    #updated_at{
        margin-top: -7px;
        font-weight: bold;
    }

    .update_time{
        font-size: 0.8em;
        margin-bottom: 2px !important;
    }

    @media (max-width: 720px) {
        #arrow {
            margin-top: 0.6em;
        }
    }

    .example {
        position: relative;
        width: 100%;
        height: 50px;
    }

    .example p {
        margin-left: 25px;
        position: absolute;
        margin-top: -7px;
    }

    .dot:before {
        content: ' ';
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        width: 10px;
        height: 10px;
        background-color: #2ecc72;
        border-radius: 50%;
    }

    .dot:after {
        content: ' ';
        position: absolute;
        z-index: 1;
        width: 10px;
        height: 10px;
        background-color: #2ecc72;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, .3) inset;
        -webkit-animation-name: 'ripple';
        /*动画属性名，也就是我们前面keyframes定义的动画名*/
        -webkit-animation-duration: 1s;
        /*动画持续时间*/
        -webkit-animation-timing-function: ease;
        /*动画频率，和transition-timing-function是一样的*/
        -webkit-animation-delay: 0s;
        /*动画延迟时间*/
        -webkit-animation-iteration-count: infinite;
        /*定义循环资料，infinite为无限次*/
        -webkit-animation-direction: normal;
        /*定义动画方式*/
    }

    @keyframes ripple {
        0% {
            left: 5px;
            top: 5px;
            opcity: 75;
            width: 0;
            height: 0;
        }

        100% {
            left: -20px;
            top: -20px;
            opacity: 0;
            width: 50px;
            height: 50px;
        }
    }


    .bs-vertical-wizard {
        padding-bottom: 50px;
    }

    .bs-vertical-wizard ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .bs-vertical-wizard ul>li {
        display: block;
        position: relative;
    }

    .bs-vertical-wizard ul>li>a {
        display: block;
        padding: 10px 10px 10px 40px;
        color: #333c4e;
        font-size: 17px;
        font-weight: 400;
        letter-spacing: .8px;
    }

    .bs-vertical-wizard ul>li>a:before {
        content: '';
        position: absolute;
        width: 1px;
        height: calc(100% - 25px);
        background-color: #bdc2ce;
        left: 13px;
        bottom: -9px;
        z-index: 3;
    }

    .bs-vertical-wizard ul>li>a .ico {
        pointer-events: none;
        font-size: 14px;
        position: absolute;
        left: 10px;
        top: 15px;
        z-index: 2;
    }

    .bs-vertical-wizard ul>li>a:after {
        content: '';
        position: absolute;
        border: 2px solid #bdc2ce;
        border-radius: 50%;
        top: 14px;
        left: 6px;
        width: 16px;
        height: 16px;
        z-index: 3;
    }

    .bs-vertical-wizard ul>li>a .desc {
        display: block;
        color: #bdc2ce;
        font-size: 11px;
        font-weight: 400;
        line-height: 1.8;
        letter-spacing: .8px;
    }

    .bs-vertical-wizard ul>li.complete>a:before {
        background-color: #5cb85c;
        opacity: 1;
        height: calc(100% - 25px);
        bottom: -9px;
    }

    .bs-vertical-wizard ul>li.complete>a:after {
        display: none;
    }

    .bs-vertical-wizard ul>li.locked>a:after {
        display: none;
    }

    .bs-vertical-wizard ul>li:last-child>a:before {
        display: none;
    }

    .bs-vertical-wizard ul>li.complete>a .ico {
        left: 8px;
    }

    .bs-vertical-wizard ul>li>a .ico.ico-green {
        color: #5cb85c;
    }

    .bs-vertical-wizard ul>li>a .ico.ico-muted {
        color: #bdc2ce;
    }

    .bs-vertical-wizard ul>li.current {
        background-color: #fff;
    }

    .bs-vertical-wizard ul>li.current>a:before {
        background-color: #bdc2ce;
        opacity: 1;
    }

    .bs-vertical-wizard ul>li.current>a:after {
        border-color: #ffe357;
        background-color: #ffe357;
        opacity: 1;
    }

    .bs-vertical-wizard ul>li.current:after,
    .bs-vertical-wizard ul>li.current:before {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .bs-vertical-wizard ul>li.current:after {
        border-color: rgba(255, 255, 255, 0);
        border-left-color: #fff;
        border-width: 10px;
        margin-top: -10px;
    }
</style>
<div class="container">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col lg-6">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col lg-4 md-4">
                            <span id="train_no"></span>
                        </div>
                        <div class="col lg-8 md-8" style="text-align: end">
                            <span id="train_name"></span>
                        </div>
                    </div>
                    <br>
                    <div class="row row-cols-3">
                        <div class="col lg-4 xs-4 justify-content-md-center">
                            <center><span id="source"></span></center>
                        </div>
                        <div class="col lg-4 xs-4 justify-content-md-center">
                            <img id="arrow" src="/img/arrowright.png" alt="" srcset="">
                        </div>
                        <div class="col lg-4 xs-4 justify-content-md-center">
                            <center><span id="destination"></span></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col lg-6">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <div class="row row-cols-2 row-cols-md-2">
                        <div class="col lg-6 md-6">
                            <div class="example">
                                <p>Live</p>
                                <div class="dot"></div>
                            </div>
                        </div>
                        <div class="col lg-6 md-6" style="text-align: end">
                            <p class="update_time">Updated At</p>
                            <p class="update_time" id="updated_at"></p>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-1">
                        <div class="col lg-12 md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="col sm-12 md-12">
                                        <div class="bs-vertical-wizard">
                                            <ul></ul>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#train_no').hide();
    $('#train_name').hide();
    var socket = io();
    socket.emit('get_train_status',
        `{ "train_no" : "<%= req.params.train_no %>", "start_date" : "<%=req.query.startDate%>" }`);
    socket.on("<%= req.params.train_no %>", function (trainDetails) {
        $('#updated_at').text(`${trainDetails.lastUpdated}*`);
        $('.bs-vertical-wizard ul').empty();
        for (var i = 0; i < trainDetails.stations.length; i++) {
            if(trainDetails.stations[i].status == "current"){
                $('.bs-vertical-wizard ul').append(`<li class="current">
                                                    <a href="#">${!trainDetails.stations[i].stationName ? '' : trainDetails.stations[i].stationName} (${trainDetails.stations[i].stnCode})<i class="ico fa fa-check ico-green"></i>
                                                        <span class="desc">Lorem ipsum dolor sit amet, consectetur
                                                            adipisicing elit. A, cumque.</span>
                                                    </a>
                                                </li>`)
            }
            else if(trainDetails.stations[i].status == "passed"){
                $('.bs-vertical-wizard ul').append(`<li class= "complete prev-step">
                                                    <a href="#">${!trainDetails.stations[i].stationName ? '' : trainDetails.stations[i].stationName} (${trainDetails.stations[i].stnCode})<i class="ico fa fa-check ico-green"></i>
                                                        <span class="desc">Lorem ipsum dolor sit amet, consectetur
                                                            adipisicing elit. A, cumque.</span>
                                                    </a>
                                                </li>`)
            }
            else if(trainDetails.stations[i].status == "not_passed"){
                $('.bs-vertical-wizard ul').append(`<li>
                                                    <a href="#">${!trainDetails.stations[i].stationName ? '' : trainDetails.stations[i].stationName} (${trainDetails.stations[i].stnCode})</i>
                                                        <span class="desc">Lorem ipsum dolor sit amet, consectetur
                                                            adipisicing elit. A, cumque.</span>
                                                    </a>
                                                </li>`)
            }
        }
        console.log(trainDetails);
    });
    $(document).ready(() => {
        $.ajax({
            url: `/api/v1/train/<%= req.params.train_no %>`,
            type: 'GET',
            dataType: 'json', // added data type
            success: function (res) {
                $('#train_no').show()
                $('#train_name').show()
                $('#train_no').text(res.trainNo)
                $('#train_name').text(res.trainName)
                $('#source').text(res.trainSchedule[0].stnCode)
                $('#destination').text(res.trainSchedule[res.trainSchedule.length - 1].stnCode);
                console.log(res);
            }
        });
    })
</script>